{{> head}}
  {{> navbar }}
    <div class="row">
        <div class="col">
            <h1>Holaaaaa</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat facere beatae id nulla, ducimus commodi libero aperiam aut asperiores ad vel quasi quae neque voluptatem consequatur odit aliquam illo quidem!</p>
        </div>
        <div class="col">
            <img src="/assets/nodejs-png-part-4-node-js-execution-time-800.png" alt="img-thumbnail">
        </div>
    </div>
  {{> footer}}